<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Ventas</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<header class="navbar">

    <h1>Sistema de Ventas</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/productos">Inventario</a>
        <a href="/ventas">Ventas</a>
    </nav>

</header>

<main class="container">

    <section class="hero">

        <h2>Panel de administración</h2>

        <p>
            Administra usuarios, productos, inventario y ventas
            desde un solo lugar.
        </p>

    </section>

    <section class="dashboard">

        <a href="/usuarios" class="dashboard-card">

            

            <h3>Usuarios</h3>

            <p>
                Registrar y administrar usuarios.
            </p>

        </a>

        <a href="/productos" class="dashboard-card">

        

            <h3>Inventario</h3>

            <p>
                Administrar productos y existencias.
            </p>

        </a>

        <a href="/ventas" class="dashboard-card">


            <h3>Ventas</h3>

            <p>
                Registrar ventas y consultar historial.
            </p>

        </a>

    </section>

</main>

</body>
</html>
